# ==========================================
# MEDALLION ETL - Dependencias
# ==========================================

# === CONFIGURACIÓN ===
pydantic>=2.0
pydantic-settings>=2.0

# === BASE DE DATOS ===
sqlalchemy>=2.0
psycopg2-binary>=2.9

# === UTILIDADES ===
python-dateutil>=2.8
python-dotenv>=1.0

# === API CLIENT ===
chesserp-api @ git+ssh://git@github.com/nahuel893/chesserp-py-sdk.git@v0.1.0

# === TESTING ===
pytest>=7.0
pytest-mock>=3.10
